<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="methods.Method_Post"/>
       <class name="methods.Method_Get"/>
       <class name="utility.DataProvider_Post"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
